/* src/components/About.module.css */

/* Reset aplicado apenas dentro do .aboutContainer */
.aboutContainer * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container da seção About */
.aboutContainer {
  min-height: 100vh; /* Usa min-height para permitir rolagem, se necessário */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Espaço interno para evitar que o conteúdo encoste nas bordas */
  text-align: center;
  background: linear-gradient(135deg, #0d0d0d, #19a760);
  color: #fff; /* Define o texto em branco para os elementos dentro de .aboutContainer */
  overflow: auto; /* Permite rolagem interna, se necessário */
}

/* Estilos específicos para títulos e parágrafos dentro do .aboutContainer */
.aboutContainer h1, 
.aboutContainer h2, 
.aboutContainer h3, 
.aboutContainer p, 
.aboutContainer span, 
.aboutContainer a {
  color: #fff; /* Define a cor do texto */
  text-decoration: none;
}

/* Estilos específicos para h1 */
.aboutContainer h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilos específicos para parágrafos */
.aboutContainer p {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 800px; /* Limita a largura para melhorar a legibilidade */
  margin-bottom: 1.5rem;
}
